// @import 'include';

// @import 'application/client/common/styles/colors';
// @import 'application/client/common/styles/helpers';
// @import 'application/client/common/styles/mixins';
// @import 'application/client/common/styles/variables';

// @import 'application/client/components/s__footer/include';
// @import 'application/client/components/s__header/include';

@font-face {
    font-family: 'Futura-Light';
    src: url('/static/fonts/futura-pt-light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
    // CSS
    background-color: white;
    margin: 0;
    // Font
    font-family: 'Futura-Light';
}