@import 'application/client/common/styles/colors';
@import 'application/client/common/styles/mixins';

$browser-context: 16; // Default

@import 'colors';
@import 'typography';
@import 'helpers';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
}

// .service-health-tile {
//     /* CSS Grid */
//     display: grid;
//     grid-template-columns: 0.4rem 30fr 65fr 15fr 50fr 0.4rem;
//     grid-column-gap: 0.2rem;
//     grid-template-rows: 0.2rem 22fr 82fr 22fr 40fr;
//     grid-row-gap: 0.2rem;
//     grid-template-areas: 
//         ".                  .                  .                   .                   .                       ."
//         ".                  logo               name                name                average-round-trip-time ."
//         ".                  percentage-change  percentage-change   percentage-change   percentage-change       ."
//         ".                  packet-loss        packet-loss         average-throughput  average-throughput      ."
//         "chart-container    chart-container    chart-container     chart-container     chart-container         chart-container";
//     /* CSS */
//     border-width: 0.01rem;
//     border-style: solid;
//     border-color: silver;
//     width: 10.2rem;
//     height: 11.4rem;
//     background-color: rgb(249, 249, 249);
//     margin: 1rem;
//     /* Font */
//     color: #2E2D2C;
//     font-size: 0.6rem;
// }

body {
    // CSS
    margin: 0;
    min-height: 100%;
    // Font
    // font-family: "Roboto";
    color: $color__blue__medium;
}

select {
    // font-family: "Roboto";


    appearance: none;

    border: 0;

    background: white;
    letter-spacing: em(1);

    color: $color__blue__medium;

    padding: em(5);
    cursor: pointer;
}

select::-ms-expand {
    /* for IE 11 */
    display: none;
}

select:focus {
    border: 0em;
}

option {
    background: white;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

a,
a:hover,
a:focus,
a:active {
    // This is set in the page template
}

h1 {
    // color: $color__blue__medium;
    font-size: em(30);
    font-weight: 300;
    margin: 0em;
    margin-bottom: em(10);
    padding: 0em;
}

h2 {
    // color: $color__blue__medium;
    font-size: em(26);
    font-weight: 300;
    margin: 0em;
    margin-bottom: em(10);
    padding: 0em;
}

h3 {
    // color: $color__blue__medium;
    font-size: em(20);
    font-weight: 300;
    margin: 0em;
    margin-bottom: em(10);
    padding: 0em;
}

.cross-white {
    position: absolute;
    top: em(8);
    right: em(8);
    cursor: pointer;
    content: url('static/images/cross_white_16.png');
    height: em(16);
    width: auto;
    @include transition(opacity 0.2s ease-out 0s);
    -webkit-backface-visibility: hidden; // Needed for Chrome when opacity on .png images

    &:hover {
        opacity: 0.5;
    }
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {}
