

// $color__blue: #2792c1;

// $color__blue-light: #6dbee1;

$color__langurama-blue: #6CA4FF;
$color__langurama-blue-light: lighten($color__langurama-blue, 10%);
$color__langurama-blue-light_highlighted: lighten($color__langurama-blue, 15%);

// blue

$color__text-dark: #515151;
$color__text-dark-hover: #999;
$color__placeholder: #bababa;

$color__text-light: rgba(255, 255, 255, 0.8);
$color__bottom-border-color-light: rgba(255, 255, 255, 0.4);

$color__background_transparent_color: #582670; // 50%
$color__background_discussion: #eaeaea;
$color__white: #fff;

$color__grey__strong: #414141;
$color__grey__medium: #707070;
$color__grey__light: #A0A0A0;
$color__grey__weak: #CFCFCF;

$color__blue__strong: #3385D9;
$color__blue__medium: #66A3E3;
$color__blue__light: #99C2EC;
$color__blue__weak: #CCE0F6;

$color__teal__strong: #36BDBD;
$color__teal__medium: #68CECE;
$color__teal__light: #9BDEDE;
$color__teal__weak: #CCEEEE;

$color__green__strong: #41BC3F;
$color__green__medium: #71CD6F;
$color__green__light: #A0DD9F;
$color__green__weak: #D0EECF;

$color__purple__strong: #764BC4;
$color__purple__medium: #9878D3;
$color__purple__light: #BBA5E1;
$color__purple__weak: #DCD1EF;

$color__pink__strong: #CE62BC;
$color__pink__medium: #DA89CD;
$color__pink__light: #E7B1DD;
$color__pink__weak: #F3D8EE;

$color__red__strong: #EE4949;
$color__red__medium: #F27676;
$color__red__light: #F7A4A4;
$color__red__weak: #FBD1D1;

$color__orange__strong: #EE8133;
$color__orange__medium: #F2A066;
$color__orange__light: #F7C099;
$color__orange__weak: #FBDFCC;

$color__yellow__strong: #F1D145;
$color__yellow__medium: #F5DD74;
$color__yellow__light: #F8E8A2;
$color__yellow__weak: #FCF4D1;