@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transition-two($prop-one: all, $time-one: 1s, $ease-one: linear, $delay-one: 0s, $prop-two: all, $time-two: 1s, $ease-two: linear, $delay-two: 0s) {
    -webkit-transition: $prop-one $time-one $ease-one $delay-one, $prop-two $time-two $ease-two $delay-two;
    -moz-transition: $prop-one $time-one $ease-one $delay-one, $prop-two $time-two $ease-two $delay-two;
    -o-transition: $prop-one $time-one $ease-one $delay-one, $prop-two $time-two $ease-two $delay-two;
    -ms-transition: $prop-one $time-one $ease-one $delay-one, $prop-two $time-two $ease-two $delay-two;
    transition: $prop-one $time-one $ease-one $delay-one, $prop-two $time-two $ease-two $delay-two;
}

@mixin card($depth) {
    @if $depth < 1 {
        box-shadow: none;
    }

    @else if $depth>5 {
        @warn "Invalid $depth `#{$depth}` for mixin `card`.";
    }

    @else {
        box-shadow: bottom-shadow($depth), top-shadow($depth);
    }
}

@mixin bottom-card($depth) {
    @if $depth < 1 {
        box-shadow: none;
    }

    @else if $depth>5 {
        @warn "Invalid $depth `#{$depth}` for mixin `card`.";
    }

    @else {
        box-shadow: bottom-shadow($depth);
    }
}

@mixin top-card($depth) {
    @if $depth < 1 {
        box-shadow: none;
    }

    @else if $depth>5 {
        @warn "Invalid $depth `#{$depth}` for mixin `card`.";
    }

    @else {
        box-shadow: top-shadow($depth);
    }
}

@function top-shadow($depth) {
    $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
    $blur: nth(1.5 3 10 14 19, $depth) * 4px;
    $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

    @return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
    $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
    $blur: nth(1 3 3 5 6, $depth) * 4px;
    $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

    @return 0 $primary-offset $blur $color;
}

@mixin input-profile-border-dark() {
    border: 0em;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-bottom-style: solid;
    border-bottom-width: em(1);
}

@mixin input-profile-border-light() {
    border: 0em;
    border-bottom-color: rgba(255, 255, 255, 0.4);
    border-bottom-style: solid;
    border-bottom-width: em(1);
}

// @mixin responsive($maxWidth) {
//   @media only screen and (max-width: $maxWidth) {
//     @content;
//   }
// }