/*

font-family: "Roboto script=all rev=3", "Adobe Blank";
font-weight: 100;
font-style: normal;

font-family: "Roboto script=all rev=3", "Adobe Blank";
font-weight: 300;
font-style: normal;

Roboto light 18pt email & top

12pt forgot password

https://codepen.io/apintocr/pen/fwIDt
*/

@import 'colors';
@import 'helpers';
@import 'typography_font-faces';
@import 'variables';

$font_weight: 300;

// Flow Text
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

a {
  // color: $color__text-dark;
  text-decoration: none;

  transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -webkit-transition:color .3s ease-in-out;

  &:hover {
    // color: $color__blue__light; // Is set via marko
  }
}

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: em(14);
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: em(14.5);
  }

  @media only screen and (min-width: $large-screen) {
    font-size: em(15);
  }

  // font-family: "Roboto", sans-serif;

  // color: $color__text-dark;
  font-family: 'Roboto';
  // font-weight: normal;
  font-weight: $font_weight;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.flow-text{
  font-weight: $font_weight;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}